/*body{background:orange;}*/
.slide_wrap{
   margin-left:15%;
}
.common_wrap{
   width:96%;
   margin:8vw auto;
/*   background:powderblue;*/
}
.footer_wrap{
   width:96%;
   margin:auto;
}
.pc{
   display:none;
}
.tablet{
   display:block;
}
.mobile{
   display:none;
}
.pc_nav{
   display:none;
}
.mobile_nav{
   display:block;
}



/*   header   */
header{
   position:fixed;
   z-index:9999;
   width:100%;
   top:0;
}
#header_top{
   display:none;
}


#header_bottom{
   position:relative;
   width:100%;
   border-bottom:1px solid #dfdfdf;
   box-sizing:content-box;
   background:#fff;
}
#header_bottom h1{
   height:60px;
   float:right;
}
#header_bottom h1 > img{
   height:100%;
}
#header_bottom > div > p > i{
   font-size:30px;
   color:#878787;
   line-height:60px;
   margin-left:20px;
}

nav.mobile_nav{
   display:flex;
   position:absolute;
   left:-50%;
   top:0;
   width:50%;
   height:100vh;
   background:white;
   opacity:0;
   box-shadow:4px 0 7px rgba(135, 135, 135, .5); 
}
/*
#header_bottom > div > p:active + nav.mobile_nav{
   opacity:1;
   left:0;
}
*/

nav.mobile_nav #close{
   position:absolute;
   top:0; right:0;
   width:40px; height:40px;
   text-align:center;
   background:#252525;
}
nav.mobile_nav #close > i{
   font-size:30px;
   line-height:40px;
   color:#fff;
}

nav.mobile_nav #mobile_nav_wrap{
   width:100%;
   display:flex;
   flex-direction:column;
/*   background:orange;*/
}
nav.mobile_nav .welcome > p{
   width:2%; height:100%;
   bottom:0;
   background:#009848;
   float:left;
}
nav.mobile_nav .welcome{
   position:relative;
   width:100%; height:12%;
   background:white;
   
   font:500 20px/1.1 'Roboto', 'Noto Sans KR', sans-serif;
   color:#878787;
}
nav.mobile_nav .welcome > div{
   padding:3% 5%;
}
nav.mobile_nav .welcome > div > span{
   font-weight:bold;
   font-size:30px;
   color:#009848;
}
nav.mobile_nav .search_shop{
   width:100%;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   border-top:1px solid #009848;
   border-bottom:1px solid #009848;
}
nav.mobile_nav .search_shop > li:first-child{
   width:86%;
   padding:3% 7%;
   display:flex;
   flex-direction:row;
   justify-content:flex-start;
}
nav.mobile_nav .search_shop > li:first-child > form{
   position:relative;
   width: 100%;
   float: right;
   border-bottom:2px solid #87caa7;
   
}
nav.mobile_nav .search_shop > li:first-child .search_keyword{
   position: absolute;
   width: 100%;
   height: 100%;
   font-size: 13px;
   padding: 10px 0 10px 10px;
   box-sizing: border-box;
   border-style:none;
}
nav.mobile_nav .search_shop > li:first-child form > i{
   position: absolute;
   right:0;
   bottom:14%;
   font-size:23px;
   color:#87caa7;
}
nav.mobile_nav .search_shop > li:last-child{
   text-align:center;
   display:flex;
   flex-direction:row;
   justify-content:flex-end;
}
nav.mobile_nav .search_shop > li > i{
   width:7vw; height:7vh;
   background:#009848;
   border-left:2px solid #fff;
   font-size:3vw;
   color:#fff;
   line-height:7vh;
}
nav.mobile_nav .mobile_group{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
}
nav.mobile_nav .mobile_group > li{
   width:95%;
   padding-left:5%;
   font:bold 2.3vw 'Roboto', sans-serif;
   color:#252525;
   line-height:7vh;
}
nav.mobile_nav .mobile_group > li.click{
   color:#009848;
}
nav.mobile_nav .mobile_group > li:nth-child(even){
   background:#efefef;
}


nav.mobile_nav .mobile_group > li .mobile_sub{
   margin-left:-5%;
   display:none;
}
nav.mobile_nav .mobile_group > li .mobile_sub > li{
   font:bold 1.7vw 'Noto Sans KR', 'Roboto', sans-serif;
   color:#fff;
   line-height:5vh;
   padding-left:5%;
   background:#87caa7;
   border-bottom:.4px solid #fff;
   
}





/*    submenu_short    */

#header_bottom #slide_menu .menu_bg .short > ul{
   display:inline-block;
   width:100%;
}
#header_bottom #slide_menu .menu_bg .short > ul > li{
   display:inline-block;
   width:200px;
   margin:10px auto;
}
#header_bottom #slide_menu .menu_bg .short > ul > li > a{
   font:500 15px 'Noto Sans KR', sans-serif;
   color:#009848;
   text-decoration:none;
}




/*   slidebanner   */

#slidebanner{
   position:relative;
   width:100%; height:78vw;
   top:60px;
   overflow:hidden;
   background:yellow;
}

#slidebanner #slide_imgs > ul{
   width:100%; height:100%;
   margin-top:0px;
   overflow:hidden;
}
#slidebanner #slide_imgs > ul > li {
   position:absolute;
   display:none; text-align:center;
   width:100%; height:100%;
   margin:auto;
   overflow:hidden;
/*   background:yellow;*/
}
#slidebanner #slide_imgs > ul > li.on{
   display:block;
}
#slidebanner #slide_imgs > ul > li > img{
   position:relative;
   width:100%;
   margin:auto;
}

#slidebanner #slide_txt{
   position:absolute;
   z-index:999;
   width:600px;
   top:5.5%;
}
#slidebanner #slide_txt > ul > li{
   display:none;
}
#slidebanner #slide_txt > ul > li.on{
   display:block;
}
#slidebanner #slide_txt > ul > li > h2{
   font:bold 50px/1.1 'Roboto', sans-serif;
   color:#484848;
}
/*
#slidebanner #slide_txt > ul > li:nth-child(2) > h2{
   color:#fff;
}
*/
#slidebanner #slide_txt > ul > li > h3{
   margin-top:15px;
   font:15px/1.4 'Noto Sans KR', sans-serif;
   color:#484848;
}
/*
#slidebanner #slide_txt > ul > li:nth-child(2) > h3{
   color:#fff;
}
*/
.txt_button {
   display:none;
}
*
.bottom_bar{
   width:25%; height:10px;
   background:#95080b;
   transition:all .3s ease;
}

/*
.txt_button:hover .bottom_bar{
   width:100%;
}
*/




/*     슬라이드 배너 버튼     */

#banner_left{
   position:absolute;
   z-index:999;
   width:50px; height:50px;
   top:calc(50% - 25px);
   left:0;
   cursor:pointer;
}
#banner_left > img{
   width:100%;
}
#banner_left > img:hover{
   opacity:.6;
}
#banner_right{
   position:absolute;
   z-index:999;
   width:50px; height:50px;
   top:calc(50% - 25px);
   right:0;
   cursor:pointer;
}
#banner_right > img{
   width:100%;
}
/*
#banner_right > img:hover{
   opacity:.6;
}
*/


/*     pager     */
#pager{
   position:absolute;
   z-index:999;
   bottom:20px;
   margin-left:calc(50% - 25px);
}
#pager > li{
   display:inline-block;
   width:12px; height:12px;
   margin-right:5px;
   border-radius:100%;
   background:#87caa7;
}
.on_page{
   background:#009848!important;
}



/*     에디터 & 매거진     */

#article1{
   position:relative;
}
#article1 > h1 {
   width:100%;
   font:bold 30px 'Noto Sans KR', sans-serif;
   color:#009848;
   text-align:center;
   margin-top:15%;
}
#article1 > h1 > span{
   color:#87caa7;
}

#article1 .em_category{
   display:flex;
   flex:1 0 auto;
   justify-content:center;
   margin:3% auto 5%;
   text-align:center;
}
#article1 .em_category > li{
   display:inline-block;
   width:220px; height:40px;
   font:bold 18px 'Roboto', sans-serif;
   color:#87caa7;
   line-height:45px;
   border:1px solid #009848;
   cursor:pointer;
}
#article1 .em_category > li:nth-child(2){
   border-left:none;
   border-right:none;
   margin:0 -6px;
}
#article1 .em_category > li > a{
   
}
/*
#article1 .em_category > li:hover{
   background:#009848;
   color:#fff;
}
*/
.click{
   background:#009848;
   color:#fff!important;
}
#article1 #em_group{
   position:relative;
   width:100%; height:47vw;
}
#article1 #em_group > li{
   width:100%;
   position:absolute;
}

.on{
   z-index:999;
}
#article1 .em_thumbnail{
   width:100%;
   display:flex;
   flex:1 0 auto;
   flex-direction:row;
   justify-content:space-between;
}
#article1 .em_thumbnail > li{
   margin-right:20px;
}
#article1 .em_thumbnail > li:last-child{
   margin-right:0;
}
#article1 .em_thumbnail > li > div img{
   width:100%;
}

#article1 .em_thumbnail .em_box{
   position:relative;
   overflow:hidden;
}
#article1 .em_thumbnail .em_box .em_cover{
   position:absolute;
   width:100%; height:100%;
   padding:7% 7%;
   top:73%;
   box-sizing:border-box;
   text-shadow:2px 2px 2px rgba(0, 0, 0, .8);
}
#article1 .em_thumbnail > li:last-child .em_box .em_cover{
   top:67%;
}
#article1 .em_thumbnail .em_box .em_cover > h2{
   font:300 2vw/1.3 'Roboto', sans-serif;
   color:#fff;
}
#article1 .em_thumbnail .em_box .em_cover > h3{
   font:500 3.5vw/1.3 'Roboto', sans-serif;
   color:#fff;
}
#article1 .em_thumbnail .em_box .em_cover > h4.tablet{
   position:absolute;
   font: 1.4vw/1.4 'Noto Sans KR', sans-serif;
   color:#fff;
   bottom:30px;
}

/*
#article1 .em_thumbnail .em_box:hover .em_cover{
   top:0%;
   opacity:1;
}
*/

.em_button{
   width:85px;
   margin-top:10px;
   font:bold 15px 'Noto Sans KR', sans-serif;
   color:#009848;
   cursor:pointer;
}




aside{
   width:100%;
   background:pink;
}
aside > img{
   width:100%;
}



#article2{}
#article2 #article2_top > h1{
   font:bold 35px 'Noto Sans KR', sans-serif;
   color:#009848;
}
#article2 #article2_top > h2{
   margin-top:15px;
   font:17px/1.4 'Noto Sans KR', sans-serif;
   color:#252525;
}

#article2 .article2_contents{
   position:relative; 
   overflow:hidden;
 
   margin-top:-50px;
   margin-left:2%;
   margin-right:0;
   margin-bottom:7%;
   height:45vw;
/*   background:yellow;*/
}
#article2 .article2_contents > ul{
   position:absolute; 
   width:200%; height:100%;
   padding-top:10px;
   
}
#article2 .article2_contents > ul > li{
   position:relative;
   float:left;
   width:12%; 
   margin-top:0.7%;
   margin-right:1%;
   margin-left:1%;
   box-shadow:0 0 7px #cfcfcf;
   overflow:hidden;
   transition:all 1s;
}
#article2 .article2_contents > ul > li:nth-child(2){
   width:13%;
   margin-top:0;
}
#article2 .article2_contents > ul > li.pick{
   width:13%;
   margin-top:0;
}
#article2 .article2_contents > ul > li.pick > img{
   opacity:1;
}
#article2 .article2_contents > ul > li >img{
   width:100%;
   opacity:.7;
}
#article2 .article2_contents > ul > li .pick_info{
   display:none;
/*
   bottom:-20%;
   opacity:0;
*/
   
}

/*
#article2 .article2_contents > ul > li:nth-child(2) .pick_info{
   position:absolute;
   display:block;
   width:100%; height:20%;
   padding:18px 15px;
   box-sizing:border-box;
   text-align:center;
   background:rgba(255, 255, 255, .7);
   opacity:1;
   bottom:0;
}
*/
#article2 .article2_contents > ul > li .pick_info > h1{
   font:bold 15px 'Noto Sans KR', sans-serif;
   color:#009848;
   text-decoration:underline;
}
#article2 .article2_contents > ul > li .pick_info > h2{
   font:18px 'Noto Sans KR', sans-serif;
   color:#000;
}
#article2 .article2_contents > ul > li .pick_info > h3{
   font:15px 'Noto Sans KR', sans-serif;
   color:#484848;
}
#article2 .article2_contents > ul > li > p{
  	position:absolute; bottom:0;
    width:0; height:7px; background:#95080b;
}

#article2 .article2_contents > ul > li.pick > p{
   width:100%; 
   transition:all 3s ease;
}






/*     youtube     */

#article3{
   position:relative;
/*   clear:both;*/
   background:#f8f8f8;
}
#article3 > div{
/*   padding-top:100px;*/
}
#article3 > div > h1{
   font:bold 30px 'Noto Sans KR', sans-serif;
   color:#009848;
}
#article3 > div > h2{
   margin-top:10px;
   font:17px/1.4 'Noto Sans KR', sans-serif;
   color:#252525;
}

#article3 iframe{
   position:absolute;
   width:100%; height:60vw;
   margin-top:50px;
   left:0;
/*   margin-bottom:170px;*/
}

#article3 .common_wrap{
   margin:0 auto;
   padding-top:70px;
   padding-bottom:70px;
}


/*     footer     */

footer{
   margin-top:65vw;
   background:#333333;
}
#footer_top{
   border-bottom:.5px solid #484848;
}
#footer_top > ul{
   display:flex;
   flex-direction:row;
   justify-content:center;
   height:60px;
}
#footer_top > ul > li{
   margin-right:5vw;
   white-space:nowrap;
}
#footer_top > ul > li:last-child{
   margin-right:0;
}
#footer_top > ul > li > a{
   font:13px 'Noto Sans KR', sans-serif;
   color:#fff;
   line-height:60px;
}

.footer_middle{
   display:flex;
   flex-direction:column;
   justify-items:center;
}
#footer_middle ul > li{
   text-align:center;
}
#footer_middle ul .address{
   width:600px;
   margin:20px auto;
   font:13px 'Noto Sans KR', sans-serif;
   color:#fff;
}
#footer_middle ul .f_button{
   display:flex;
   flex-direction:row;
   justify-content: center;
}
#footer_middle ul .f_button > p{
   width:180px;
   margin-left:20px;
   font:13px 'Noto Sans KR', sans-serif;
   color:#fff;
   border:1px solid white;
   line-height:30px;
   text-align:center;
}
/*
#footer_middle ul .f_button > p:hover{
   background:#fff;
   color:#333333;
}
*/
#footer_middle .f_icon{
   display:flex;
   flex-direction:row;
   justify-content:center;
   margin:20px auto;
   font:4vw 'Noto Sans KR', sans-serif;
   color:#fff;
}
#footer_middle .f_icon i{
   margin-left:30px;
   cursor:pointer;
}
#footer_middle .f_icon i:first-child{
   margin-left:0;
}

#footer_bottom{
   height:50px;
   background:#252525;
}
#footer_bottom p{
   font:13px 'Roboto', sans-serif;
   color:#fff;
   line-height:50px;
   text-align:center;
}


